{% extends "student/base.html" %}

{% block title %}Student Accses page{% endblock %}

{% block content %}



<div class="container">
    {% if  isSubActive %}
    <h1>Welcome {{user.name}}</h1>
    {% endif %}
    <h3>Course - {{Nav_courses[0].course_name}}</h3>

    {% if not isSubActive %}
    <div class="container">
        <p>YOU DON'T HAVE ANY SUBSCRIPTIONS, <a href="{{ url_for('courses') }}">CLICK HERE</a> TO ENROLL AND GET FULL ACCSES</p>
    </div>
    {% endif %}
    
    
    <div class="row" >
        <div class="col-sm">
            <div class="folder-view" style="max-width: fit-content; ">
                <a href="{{ url_for('notes_mod',id=Nav_courses[0].id) }}">
                <i class="fas fa-folder" id="folder_icon1" style="font-size: 10em;  color: rgba(128, 128, 128, 0.427);" ></i> <br> <p style="text-align: center;">Notes</p>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="folder-view" style="max-width: fit-content;">
                <a href="{{ url_for('video_mod',id=Nav_courses[0].id) }}">
                <i class="fas fa-folder" id="folder_icon2" style="font-size: 10em; color: rgba(128, 128, 128, 0.427);"></i> <br> <p style="text-align: center;">Video Recordings</p>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="folder-view" style="max-width: fit-content;">
                <a href="{{ url_for('mocktests_mod',id=Nav_courses[0].id) }}">
                <i class="fas fa-folder" id="folder_icon3" style="font-size: 10em; color: rgba(128, 128, 128, 0.427);"></i> <br> <p style="text-align: center;">Mocktests</p>
                </a>
            </div>
        </div>
    </div>
    


</div>



<script>
    $(document).ready(function(){
        $("#folder_icon1").hover(function(){
            $(this).css("color", "rgba(128, 128, 128, 0.642)");
        }, function(){
            $(this).css("color", "rgba(128, 128, 128, 0.427)");
        });
    });
    $(document).ready(function(){
        $("#folder_icon2").hover(function(){
            $(this).css("color", "rgba(128, 128, 128, 0.642)");
        }, function(){
            $(this).css("color", "rgba(128, 128, 128, 0.427)");
        });
    });
    $(document).ready(function(){
        $("#folder_icon3").hover(function(){
            $(this).css("color", "rgba(128, 128, 128, 0.642)");
        }, function(){
            $(this).css("color", "rgba(128, 128, 128, 0.427)");
        });
    });

    
    
    
    
</script>

{% endblock %}