{% extends "student/base.html" %}

{% block title %}About Us{% endblock %}
{% block content %}


<div class="container">
  <h1>MockTests in {{module.module_name}}</h1>


  {% for mocktest in mocktests %}
  <div class="card" style="margin-bottom: 30px;">
    <div class="card-body">
      <h5 class="card-title">{{ loop.index }}. {{ mocktest.test_name }}</h5>
      <p class="card-text" style="max-width: 50%;">{{mocktest.test_description}}</p>
      <div class="row">
        <div class="col-sm"><p class="card-text"><b>Time Duration :</b> {{mocktest.test_duration}} Mins</p></div>
      <div class="col-sm"><p class="card-text"><b>Total Questions :</b> 10</p></div>
      <div class="col-sm"><p class="card-text"><b>Max Marks : </b>{{mocktest.max_marks}}</p></div>
      </div>
      
      
      <div class="container">
        <div class="float-right">
          <a href="#" class="btn btn-primary">Take Quiz</a>
        </div>
      </div>
    </div>
  </div>


{% endfor %}
</div>



{% endblock %}