{% extends "admin/base.html" %}

{% block title %}View Notes{% endblock %}

{% block content %}


<div class="container">
    <h1>Notes in <a href="{{ url_for('admin_modules_contents', id=module.id) }}">{{ module.module_name }}</a></h1>

    <div class="card-header py-3">
        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Upload Notes</a>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Notes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="file_form" enctype="multipart/form-data" action="/admin/modules/notes/upload/{{module.id}}">
                        <div class="modal-body">
                            <div class="name">
                                <label>Note Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Note Name"
                                    name="name"> <br>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1"> Note Description</label>
                                <textarea class="form-control" id="description" name="description" placeholder="Enter Note Description"
                                    rows="3"></textarea>
                            </div>
                          
                            <div class="fileUpload">
                                <br>
                                <h1>Upload Multiple Image Files</h1>
                                <hr>   
                                <div id="upload" class="upload">
                                <input type="file" multiple  accept="image/png, image/gif, image/jpeg" name="notes_pdf" required>
                                </div>
                                
                                </div>


                        </div>
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="submit_btn" class="btn btn-primary">Save changes </button>
                            <script>
                                $('#file_form').on('submit', function () {
                        
                                    $('#submit_btn').attr('disabled', 'disabled');
                                    $('#submit_btn').html('Please Wait <div class="spinner" style="color: #EEE; max-width: 30px; display: inline;"><img id="spinner" src="{{url_for("static", filename="img/Spinner.svg")}}" alt="" style="color: #EEE; max-width: 25px; display: inline;"></div>');
                                    
                                    
                        
                                });
                            </script>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

   
    
    {% for note in notes %}
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ note.note_name }}</h5>
            
              <p class="card-text">{{ note.note_description }}</p>
              
                
                <div class="container" >




                    <div class="carousel" data-flickity>
                            {% for noteImage in noteImages %}
                                {% if noteImage.note_id == note.id %}
                                <div class="carousel-cell" >
                                    <img src="{{ noteImage.image_url }}" alt="" style="width: 100%;">
                                    
                                    
                                    
                                    
                            
                                        <div class="btn-group dropup"  >
                                        <a  type="button" id="addImage" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="{{ url_for('static', filename='img/add-icon.png') }}" alt="Add Note Image"
                                            style="max-width: 30px; margin-right: 1px; margin: .5em; ">
                                        </a>
                                        <div class="dropdown-menu" >
                                            <form method="post" enctype="multipart/form-data" action="/admin/modules/notes/add/image/{{note.id}}">
                                                <div class="fileUpload">
                                                    <br>
                                                    <h1>Upload Multiple Image Files</h1>
                                                    <hr>   
                                                    <div id="upload" class="upload">
                                                        <input type="file" multiple  accept="image/png, image/gif, image/jpeg" name="notes_pdf" required>
                                                    </div>
                                                    
                                                </div>

                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" id="submit_btn_{{noteImage.id}}" class="btn btn-primary">Save changes </button>
                                                <script>
                                                    $('#file_form').on('submit', function () {
                                            
                                                        $('#submit_btn_{{noteImage.id}}').attr('disabled', 'disabled');
                                                        $('#wait').html('Please Wait <div class="spinner" style="color: #EEE; max-width: 30px; display: inline;"><img id="spinner" src="{{url_for("static", filename="img/Spinner.svg")}}" alt="" style="color: #EEE; max-width: 25px; display: inline;"></div>');
                                                    });
                                                </script>
                                                </form>
                                        </div>
                                        </div>
                                        
                                    <a href="{{ url_for('admin_modules_notes_delete_image', id=noteImage.id )}}"><img src="{{ url_for('static', filename='img/delete-icon.png') }}" alt="Delete Note Image"
                                        style="max-width: 30px; margin-right: 1px;"></a>
                                        <div id="wait"></div>
                                </div>
                                
                                {% endif %}
                                {% endfor %}
                                
                    </div>
                    
                    
                </div>



<style>
 /* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* prevent vertical scroll bar glitch */
html { overflow-y: scroll; }

.carousel {
  background: #EEE;
  width: 50%;
}

.carousel-cell {
  width: 100%;
  height: fit-content;
  margin-right: 10px;
  
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
 
  line-height: 200px;
  font-size: 80px;
  color: white;
}

</style>


              <div class="float-right">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal_{{note.id}}">Edit</button>
                        <div class="modal fade" id="editModal_{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="editModal_{{note.id}}Label"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Notes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" enctype="multipart/form-data" action="/admin/modules/notes/edit/{{note.id}}">
                        <div class="modal-body">
                            <h3>Update {{note.note_filename}}</h3>
                          
                            <div class="form-group">
                                <label>Note Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Note Name"
                                    name="name">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1"> Note Description</label>
                                <textarea class="form-control" id="description" name="description"
                                    rows="3"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="submit_btn" class="btn btn-primary">Save changes </button>
                            <script>
                                $('#file_form').on('submit', function () {
                        
                                    $('#submit_btn').attr('disabled', 'disabled');
                                    $('#submit_btn').html('Please Wait <div class="spinner" style="color: #EEE; max-width: 30px; display: inline;"><img id="spinner" src="{{url_for("static", filename="img/Spinner.svg")}}" alt="" style="color: #EEE; max-width: 25px; display: inline;"></div>');
                                    
                                    
                        
                                });
                            </script>
                        </div>
                    </form>

                </div>
            </div>
        </div>
                    </div>
                  <div class="col">
                    <a href="{{ url_for('admin_modules_notes_delete', id=note.id) }}" class="btn btn-danger">Delete</a>
                  </div>
                </div>
              </div>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
    </div>
    {% endfor %}

    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        
           <p style="color: red;">{{ messages }}</p> 
        
    {% endif %}
    {% endwith %}

</div>



{% endblock %}