{% extends "admin/base.html" %}

{% block title %}View Users{% endblock %}

{% block content %}
    <div class="container">
        <h1>View Users</h1>
        <p>Here are all the users in the database.</p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Phone</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td><a href="{{ url_for('admin_users_view', id=user.id) }}">{{ user.name }}</a></td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.user_type }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>
                                        <a href="" class="btn btn-primary" onclick="Alert()"><img src="{{ url_for('static', filename='img/edit-icon.png') }}" alt="" style="max-width: 20px;"></a>
                                        <a href="{{ url_for('admin_users_delete', id=user.id) }}" class="btn btn-danger" ><img src="{{ url_for('static', filename='img/delete-icon.png') }}" alt="" style="max-width: 20px;"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script>
        function Alert() {
            alert("This feature is not available yet.");
        }
    </script>
{% endblock %}

