{% extends "CustomAdmin/admin_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 >Edit mocktest</h1>
            <form  method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="categoryName"> Enter the mocktest id</label>
                    <input type="text" value="{{obj.id}}" class="form-control" id="course_id" name="mocktest_id" placeholder=" Enter the course id">
                </div>

                <div class="form-group">
                    <label for="categoryName"> Enter the module name</label>
                    <select name="module" id="module" class="custom-select my-1 mr-sm-2">
                        <option disabled selected>Choose...</option>

                        <option value="{{module.id}}">{{module.title}}</option>

                    </select>
                </div>
                
                
                <div class="form-group">
                    <label for="categoryName"> Enter the course title</label>
                    <input type="text" value="{{obj.title}}" class="form-control" id="mocktest_title" name="mocktest_title" placeholder=" Enter the course title">
                </div>
                <div class="form-group">
                    <label for="categoryName">Enter the description</label>
                    <textarea required value="{{obj.description}}" type="text"  class="form-control" rows="4" cols="50" id="mocktest_description" name="course_description" placeholder="Enter the description">{{obj.description}}</textarea>
                    
                </div>

                <div class="form-group">
                    <label for="categoryName">Enter the due_date</label>
                    <textarea required value="{{obj.due_date}}" type="text"  class="form-control" rows="4" cols="50" id="date" name="date" placeholder="Enter the description">{{obj.due_date}}</textarea>
                    
                </div>
                
            
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
        </div>
    </div>
</div>
{% endblock %}