{% extends "CustomAdmin/admin_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 >Edit course</h1>

            <form  method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="categoryName"> Enter the module id</label>
                    <input type="text" class="form-control" id="module_id" name="module_id" placeholder=" Enter the module_id">
                </div>
                
                
                <div class="form-group">
                    <label for="categoryName"> Enter the course name</label>
                    <select name="course" id="module" class="custom-select my-1 mr-sm-2">
                        <option disabled selected>Choose...</option>
                        {% for obj in objs %}
                        <option value="{{obj.id}}">{{obj.name}}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="form-group">
                    <label for="categoryName"> Enter the module title</label>
                    <input type="text" class="form-control" id="module_title" name="module_title" placeholder=" Enter the module title">
                </div>
                <div class="form-group">
                    <label for="categoryName">Enter the description</label>
                    <textarea type="text" class="form-control" rows="4" cols="50" id="module_description" name="module_description" placeholder="Enter the description"></textarea>
                    
                </div>
                
            
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
        </div>
    </div>
</div>
{% endblock %}