{% extends "CustomAdmin/admin_base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->


    <!-- Content Row -->

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->

        <!-- Pie Chart -->

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->

            <!-- Color System -->


        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->


            <!-- Approach -->

        </div>
    </div>

</div>

{% endblock %}