<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MockTest</title>
</head>
<body>
    <h1>This is Mocktest </h1>
    {% for i in MockTestQuestion %}
            <strong>{{i.question}}</strong>
            {% for j in MockTestOption %}
                {% if i.id == j.question_id %}
                    {% for j in MockTestOption %}
                         <strong>{{i.option}}</strong>
                     {% endfor %}
                 {% endif %}
            {% endfor %}
        
    {% endfor %}
    
</body>
</html>