<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <style>
        /* quiz.css */

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#question {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#choices {
  text-align: center;
}

#choices input[type="radio"] {
  margin-right: 10px;
}

#result {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

    </style>
     <script src="https://code.jquery.com/jquery-3.6.1.min.js"
     integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
     
  </head>
  <body>
    <h1>Quiz</h1>

    <body>
      <div id="quiz-container">
          <div id="timer"></div>
          <form id="quiz-form">
              <div id="question"></div>
              <div id="choices"></div>
              <input type="submit" id="next-button" value="Next">
          </form>
      </div>
      <script src="script.js"></script>
  </body>

    <script>
      var attemptedQuestions = [];

      $("input[name='choice']").change(function() {
    attemptedQuestions.push(currentQuestion);
});

$("#next-button").click(function() {
    var userAnswer = $("input[name='choice']:checked").val();
    if (userAnswer) {
        attemptedQuestions.push(currentQuestion);
        checkAnswer();
    } else {
        alert("Please select an answer");
    }
});


      var questions = [
          {question: "What is the capital of France?", choices: ["Paris", "London", "Madrid", "Berlin"], answer: "Paris"},
          {question: "What is the largest planet in our solar system?", choices: ["Earth", "Jupiter", "Saturn", "Uranus"], answer: "Jupiter"},
          {question: "What is the currency of Japan?", choices: ["Dollar", "Euro", "Yen", "Pound"], answer: "Yen"}
      ];
      
      // keep track of current question, correct answers and time taken
      var currentQuestion = 0;
      var correctAnswers = 0;
      var timeTaken = 0;
      
      // create a timer
      var timer;
      var timeLeft = 30;
      
      // show the first question
      showQuestion();
      
      // start the timer
      startTimer();
      
      // handle form submission
      $("#quiz-form").submit(function(event) {
          event.preventDefault();
          checkAnswer();
      });
      
      // check the answer
      function checkAnswer() {
    var userAnswer = $("input[name='choice']:checked").val();
    if (userAnswer === questions[currentQuestion].answer) {
        correctAnswers++;
    }
    currentQuestion++;
    if (currentQuestion === questions.length) {
        if (attemptedQuestions.length === questions.length) {
            stopTimer();
            showResults();
        } else {
            alert("You need to answer all questions first!");
        }
    } else {
        showQuestion();
    }
}




      
      // show the current question
      function showQuestion() {
      var question = questions[currentQuestion];
      $("#question").text(question.question);
      $("#choices").empty();
      for (var i = 0; i < question.choices.length; i++) {
      $("#choices").append("<input type='radio' name='choice' value='" + question.choices[i] + "' required>" + question.choices[i] + "<br>");
      }
      }
      
      // start the timer
      function startTimer() {
      timer = setInterval(function() {
      timeLeft--;
      $("#timer").text(timeLeft);
      if (timeLeft === 0) {
      stopTimer();
      alert("Time's up!");
      showResults();
      }
      }, 1000);
      }
      
      // stop the timer
      function stopTimer() {
      clearInterval(timer);
      timeTaken = 30 - timeLeft;
      }
      
      // show the results
      function showResults() {
      $("#quiz-form").hide();
      $("#timer").hide();
      $("body").append("<div id='results'>You got " + correctAnswers + " out of " + questions.length + " questions correct! <br> Time Taken: " + timeTaken + " seconds</div>");
      }
      </script>
      
      
  </body>
</html>
